@using PWABlazorWeb.Shared

<div class="row">
    @if (Articulo != null)
    {
        <h1>Datos sobre descargas y uso de aplicaciones</h1>
        <hr> <br>
        <div class="col-8">
            <h3>@Articulo.Titulo</h3>
            <hr>
            <p style="font-size: 18px;">@Articulo.Contenido</p>
        </div>
        <div class="col-3">
            @if(Articulo.Imagen != null)
            {
                <img src=@Articulo.Imagen>
            }
        </div>
    }else{
        <p>Renderizando contenido...</p>
    }

</div>

@code {
    [Parameter]
    public ArticleDto? Articulo { get; set;}

}