<div class="container home-container col-12">
    <h1>ELLL mercado de las aplicaciones moviles en el mundo</h1>
    <div class="container justify-content-center">
        <div class="row align-items-center">
            <div class="col-5">
                <p>
                    El mercado de las aplicaciones móviles es un tema que ha llegado para quedarse estableciéndose en nuestra vida cotidiana y adaptándose a los hábitos de millones de usuarios.
                </p>
            </div>
            <img src="css/1-app.svg" class="col-5" alt="">
        </div>

        <div class="row align-items-center">
            <img src="css/mobile-app-ilustrate.svg" class="col-5" alt="">
            <div class="col-5">
                <p>
                    De la mano de la creación de la App Store por parte de Apple y la adopción de los dispositivos smartphones, se ha venido asentando una economía alrededor de las aplicaciones, ofreciendo para cada usuario soluciones a sus necesidades, sean de comunicación, productividad u ocio.
                </p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-5">
                <p>
                    Además de permitir la creación de más de 1,6 millones de puestos de trabajo, convirtiéndose así en un mercado generador de empleo.
                </p>
            </div>
            <img src="css/empleo-app.svg" alt="" class="col-5">
        </div>

        <div class="row align-items-center">
            <img src="css/grafico-app.svg" alt="" class="col-5">
            <div class="col-5">
                <p>
                    En el 2019 los usuarios de tecnología y consumidores de aplicaciones generaron ingresos superiores a los 101,000 millones de dólares a las diferentes tiendas de aplicaciones como Google Play y Apple Store.
                </p>
            </div>
        </div>
        
    </div>
</div>