
<section class="cd-horizontal-timeline">
    <div class="timeline">
        <div class="events-wrapper">
            <div class="events">
                <ol>
                    <li>
                        <a href="#0" data-item="1">primero</a>
                    </li>
                    <li>
                        <a href="#0" data-item="2">segundo</a>
                    </li>
                    <li>
                        <a href="#0" data-item="3">tercero</a>
                    </li>
                    <li>
                        <a href="#0" data-item="4">cuarto</a>
                    </li>
                </ol>
                <span class="filling-line" aria-hidden="true"></span>
            </div>
        </div>

        <ul class="cd-timeline-navigation">
            <li>
                <a href="#0" class="prev inactive">Prev</a>
            </li>
            <li>
                <a href="#0" class="next">Next</a>
            </li>
        </ul>
    </div>

    <div class="events-content">
        <ol>
            <li class="selected" data-item="1">
                <h2>Contenido 1</h2>
                <p>lorem ipsum dolor sit amet parrafo</p>
            </li>
            <li class="selected" data-item="2">
                <h2>Contenido 2</h2>
                <p>lorem ipsum dolor sit amet parrafo</p>
            </li>
            <li class="selected" data-item="3">
                <h2>Contenido 3</h2>
                <p>lorem ipsum dolor sit amet parrafo</p>
            </li>
            <li class="selected" data-item="4">
                <h2>Contenido 4</h2>
                <p>lorem ipsum dolor sit amet parrafo</p>
            </li>
        </ol>
    </div>
</section>

