@page "/"

@using PWABlazorWeb.Componentes


<PageTitle>Inicio</PageTitle>

@*<h1><b>El mercado de las aplicaciones móviles en el mundo</b></h1>
<div class="options">
    <div class="option active">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <img src="#" />
            </div>
            <div class="info">
                <div class="main">Principal</div>
                <div class="sub">Descripcion</div>
            </div>
        </div>
    </div>
</div>*@

<Timeline></Timeline>





